.homePage {
    background-color: #f5eee6;
    font-family: sans-serif;
}

* {
    /* Makes the padding and border included in the height and width of an element*/
    box-sizing: border-box;
    border: 1px solid black;
}

/* Position the navbar container inside the image */
.container {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.navbar {
    background-color: #efe2d0;
    width: 100%;
    position: fixed;
    top: -100px;
    transition: top 550ms;
}

.navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 32px;
}

.navbar a:hover {
    background-color: #628563;
}

.navbar a.active {
    background-color: #774040;
    color: #fff;
}

.titleBlock {
    position: relative;
    white-space: nowrap;
    text-align: center;
}

.titleImg {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.pageTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
    font-family: sans-serif;
    color: rgb(225, 225, 225);
    font-size: 70px;
}

.pageSubtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    font-family: sans-serif;
    color: rgb(225, 225, 225);
    font-size: 25px;
    text-align: justify;
}

.camp2 {
    position: relative;
    font-family: Arial;
}

.camp2 img {
    width: 60%;
}

.camp2Block {
    float: right;
    font-size: 20px;
    width: 40%;
    padding: 4%;

}

.camp2Block p {
    font-size: larger;
}


.tryCampingText {
    float: left;
    font-size: 20px;
    width: 50%;
    padding: 4%;
}

.tryCampingImage {
    float: right;
    width: 50%;
}

.tryCamping {
    display: flex;
}

.camp4 {
    float: right;
}

/* .shop {
    position: relative;
} */


/* What does shop style do????/ */



.shoptext {
    float: right;
    padding: 3%;
    width: 25%;

}

.shopimage {
    float: left;
    width: 50%;
}

.quiztxt {
    float: left;
    font-size: 20px;
    width: 50%;
    padding: 4%;
}

.quizImage {
    float: right;
    width: 50%;
}