* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: large;
    /* border: 1px solid rgb(255, 255, 255); */
}

body {
    background-color: #f5eee6;
}

/* The navbar */

.navbar {
    background-color: #f5eee6;
    width: 100%;
    padding: 1px;
}

.navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 32px;
}

.navbar a:hover {
    background-color: #628563;
}

.navbar a.active {
    background-color: #774040;
    color: #fff;
}

#logo {
    width: 70px;
    height: 70px;
    float: right;
}


/* Editor Container */

.bigContainer {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/img1.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.details {
    font-size: 4vh;
    color: #efe2d0;
    padding: 3%;
    width: 50%;
    float: left;
    margin-left: 4%;

}

.details li {
    margin-top: 3vh;
    font-size: 4vh;
    color: #efe2d0;
}

.editorImage {
    float: right;
    width: 30%;
    border: 5px solid #efe2d0;
    margin: 7%;
}