* {
    /* border: #000 solid 1px; */
    font-family: sans-serif;
    text-decoration: none;
    text-decoration-color: white;
}


html {
    scroll-behavior: smooth;
}


body {
    background-color: #f5eee6;

}

#logo {
    float: right;
    height: auto;
    width: 80px;
}

.navbar {
    background-color: #efe2d0;
    width: 100%;
    position: fixed;
    top: 0px;
}

.navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 32px;
}

.navbar a:hover {
    background-color: #628563;
}

.navbar a.active {
    background-color: #774040;
    color: #fff;
}

.contentContainer {
    padding: 50px;
}

.extraheading {
    text-align: center;
    color: rgb(73, 120, 73);
    font-size: 10vh;
    margin: 4%;
}

img {
    align-items: center;
    width: 500px;
    height: 357px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rulelist {
    color: #774040;
    font-size: 3vh;
    padding-left: 30%;

}

.rule {
    font-size: 25px;
    color: darkblue;

}

.extrapara {
    font-size: 20px;

}

.extradesc {
    font-size: 20px;

}


li a:link {
    text-decoration: none;
    color: darkblue;

}

li a:visited {
    text-decoration: none;
    color: #774040;
}

li a:hover {
    text-decoration: underline;
}

li a:active {
    text-decoration: underline;
}