

html {
    scroll-behavior: smooth;
}


body {
    padding: 50px;
    background-color: #f5eee6;
}

h1 {
    color: rgb(73, 120, 73);
}

img {
    align-items: center;
    width: 500px;
    height: 357px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rulelist{
    color:#774040 ;
}
.rule {
    font-size: 25px;
    color: darkblue;
}

.extrapara {
    font-size: 20px;

}

.extradesc {
    font-size: 20px;

}