html {
    scroll-behavior: smooth;
}


body {
    padding: 50px;
    background-color: rgb(215, 228, 239);
}

h1 {
    color: rgb(73, 120, 73);
}

img{
    width: 400px;
    height: 357px;
}

.rule {
    font-size: 25px;
    color: darkblue;
}

.extrapara {
    font-size: 20px;

}

.extradesc {
    font-size: 20px;

}