* {
    border: 1px solid rgb(0, 0, 0)
}

.homePage {
    background-color: #f5eee6;
    font-family: sans-serif;
    margin: 0px;
}

.homeContents {
    margin: 10px;
}

/* Position the navbar container inside the image */
.homeContainer {
    position: absolute;
    margin: 20px;
    width: auto;
}

/* The navbar */
.navbar {
    background-color: #efe2d0;
    width: 100%;
    position: fixed;
    top: -55px;
    transition: 550ms;
}

.navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    padding: 14px;
}

.navbar a:hover {
    background-color: #628563;
}

.navbar a.active {
    background-color: #774040;
    color: #fff;
}

.homeTitleBlock {
    white-space: nowrap;
    background-image: url("Images/hometitle.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.homeTitle {
    font-family: sans-serif;
    color: #f5eee6;
    font-size: 90px;
    text-align: center;
    padding-top: 35vh;
}

.homeTitle p {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
}

.homeWhatIsText {
    float: right;
    font-size: 20px;
    width: 35%;
    margin: 2%;
    margin-top: 6%;
}

.homeWhatIsImg {
    width: 60%;
    float: left;
}

.homeTryCampingText {
    float: left;
    font-size: 20px;
    width: 35%;
    margin: 3%;
}

.homeTryCampingImage {
    float: right;
    width: 40%;
}

.homeCamp4 {
    float: right;
}

.homeShoptext {
    float: right;

    width: 25%;
    margin: 5%;
}

.homeShopimage {
    float: left;
    width: 60%;

}

.homeQuiztxt {
    float: left;
    font-size: 20px;
    width: 40%;
    margin: 5%;
}

.homeQuizImage {
    float: right;
    width: 40%;
}

.homeImgL {
    float: left;
    width: 55%;
}

.homeImgR {
    float: right;
    width: 55%;
    padding: 20px;
}