body {
  background-color: #f5eee6 !important;
  font-family: sans-serif;
}

.navbar {
  background-color: #efe2d0;
  width: 100%;
  transition: top 550ms;

}

.navbar a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  font-weight: bold;
  padding: 32px;
}

.navbar a:hover {
  background-color: #628563;
}

.navbar a.active {
  background-color: #774040;
  color: #fff;
}

#logo {
  width: 70px;
  height: 70px;
}

.studentinfo {
  position: relative;
  width: 50%;
  flex: 25%;
  padding: 25px;
}

.aboutusmain {
  display: flex;

}

.studentinfo img {
  display: block;
  width: 350px;
  height: 450px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: #e5edef;
  width: 350px;
  height: 450px;
  display: flex;
  align-self: auto;
  margin-left: 25px;
  margin-top: 25px;

}


.studentinfo:hover .overlay {
  opacity: 0.85;
}

.studenttext {
  color: rgb(0, 0, 0);
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 300px;
  height: 50px;
  background-color: #774040;
  width: 100%;
}

footer a {
  font-weight: bold;
  color: #f5eee6;
  text-decoration: none;
  padding: 10px;
  line-height: 2;
}

footer a:hover {
  background-color: #628563;
  color: #000;
}